#t-254ea21a-a611-49e4-b4ff-c300597b023d {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 0px;
  min-height: 0px;
}
#t-254ea21a-a611-49e4-b4ff-c300597b023d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#loadMark {
}