#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-25d49f8d-616f-4fcc-bbe1-3fa2fcabe788 #t-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#loadMark {
}