#s-2e75c9ff-5054-499b-8a63-f5b75a63403f {
  background-color: transparent;
  background-image: none;
  min-width: 752px;
  min-height: 570px;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 752px;
  min-width: 752px;
  min-height: 570px;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_1 {
  position: absolute;
  top: 245px;
  left: 64px;
  width: 156px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_1 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_3 {
  position: absolute;
  top: 284px;
  left: 62px;
  width: 194px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_3 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_1 {
  position: absolute;
  top: 284px;
  left: 255px;
  padding-left: 5px;
  width: 150px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_1 .icon {
  top: 2px;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_4 {
  position: absolute;
  top: 322px;
  left: 64px;
  width: 79px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_4 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_8 {
  position: absolute;
  top: 208px;
  left: 62px;
  width: 194px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_8 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_18 {
  position: absolute;
  top: 245px;
  left: 219px;
  width: 194px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_18 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_19 {
  position: absolute;
  top: 208px;
  left: 219px;
  width: 89px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_19 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_20 {
  position: absolute;
  top: 398px;
  left: 64px;
  width: 55px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_20 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Button_4 {
  position: absolute;
  top: 436px;
  left: 434px;
  width: 85px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Button_4 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Image_2 {
  position: absolute;
  top: 9px;
  left: 179px;
  width: 237px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_2 {
  position: absolute;
  top: 322px;
  left: 255px;
  padding-left: 5px;
  width: 488px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_3 {
  position: absolute;
  top: 389px;
  left: 257px;
  padding-left: 5px;
  width: 488px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_2 {
  position: absolute;
  top: 550px;
  left: 390px;
  width: 208px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_2 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_6 {
  position: absolute;
  top: 117px;
  left: 479px;
  padding-top: 2px;
  padding-left: 3px;
  width: 45px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_6 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_7 {
  position: absolute;
  top: 117px;
  left: 56px;
  padding-left: 3px;
  width: 66px;
  height: 25px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 0px 0px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_7 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_9 {
  position: absolute;
  top: 117px;
  left: 125px;
  padding-top: 3px;
  padding-left: 3px;
  width: 35px;
  height: 21px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_9 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_10 {
  position: absolute;
  top: 117px;
  left: 341px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_10 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_11 {
  position: absolute;
  top: 117px;
  left: 260px;
  padding-top: 2px;
  padding-left: 3px;
  width: 77px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_11 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_12 {
  position: absolute;
  top: 117px;
  left: 166px;
  padding-top: 2px;
  padding-left: 3px;
  width: 89px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_12 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_4 {
  position: absolute;
  top: 147px;
  left: 55px;
  padding-left: 2px;
  width: 74px;
  height: 20px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_5 {
  position: absolute;
  top: 86px;
  left: 61px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_5 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_13 {
  position: absolute;
  top: 86px;
  left: 118px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_13 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Button_9 {
  position: absolute;
  top: 86px;
  left: 175px;
  width: 55px;
  height: 14px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Button_9 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_16 {
  position: absolute;
  top: 82px;
  left: 390px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_16 .valign {
  vertical-align: middle;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_17 {
  position: absolute;
  top: 82px;
  left: 242px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-2e75c9ff-5054-499b-8a63-f5b75a63403f #s-Label_17 .valign {
  vertical-align: middle;
}
#loadMark {
}