#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a72ed425-dbf5-444d-bb51-ac3d6c04e9f5 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#loadMark {
}