#s-abbf570d-8795-46c6-ac05-58f32e93e24e {
  background-color: transparent;
  background-image: none;
  min-width: 689px;
  min-height: 372px;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 689px;
  min-width: 689px;
  min-height: 372px;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Image_2 {
  position: absolute;
  top: 6px;
  left: 185px;
  width: 237px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_1 {
  position: absolute;
  top: 126px;
  left: 86px;
  width: 111px;
  height: 27px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_1 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_2 {
  position: absolute;
  top: 126px;
  left: 215px;
  width: 110px;
  height: 27px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_2 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_3 {
  position: absolute;
  top: 126px;
  left: 343px;
  width: 86px;
  height: 27px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_3 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_6 {
  position: absolute;
  top: 89px;
  left: 640px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_6 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_4 {
  position: absolute;
  top: 89px;
  left: 86px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_4 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_9 {
  position: absolute;
  top: 312px;
  left: 640px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_9 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Button_7 {
  position: absolute;
  top: 352px;
  left: 81px;
  width: 602px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Button_7 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_5 {
  position: absolute;
  top: 126px;
  left: 447px;
  width: 111px;
  height: 27px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_5 .valign {
  vertical-align: middle;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_7 {
  position: absolute;
  top: 126px;
  left: 578px;
  width: 102px;
  height: 27px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Label_7 .valign {
  vertical-align: middle;
}
#loadMark {
}