#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b {
  background-color: transparent;
  background-image: none;
  min-width: 677px;
  min-height: 381px;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 677px;
  min-width: 677px;
  min-height: 381px;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Image_2 {
  position: absolute;
  top: 3px;
  left: 188px;
  width: 237px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Button_4 {
  position: absolute;
  top: 287px;
  left: 137px;
  width: 169px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Button_4 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Button_5 {
  position: absolute;
  top: 287px;
  left: 423px;
  width: 246px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Button_5 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_2 {
  position: absolute;
  top: 361px;
  left: 306px;
  width: 208px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_2 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_8 {
  position: absolute;
  top: 248px;
  left: 232px;
  width: 156px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_8 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_9 {
  position: absolute;
  top: 211px;
  left: 230px;
  width: 194px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_9 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_10 {
  position: absolute;
  top: 211px;
  left: 401px;
  width: 89px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_10 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_11 {
  position: absolute;
  top: 248px;
  left: 401px;
  width: 194px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_11 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_6 {
  position: absolute;
  top: 126px;
  left: 506px;
  padding-top: 2px;
  padding-left: 3px;
  width: 45px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_6 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_7 {
  position: absolute;
  top: 126px;
  left: 83px;
  padding-left: 3px;
  width: 66px;
  height: 25px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 0px 0px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_7 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_12 {
  position: absolute;
  top: 126px;
  left: 152px;
  padding-top: 3px;
  padding-left: 3px;
  width: 35px;
  height: 21px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_12 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_13 {
  position: absolute;
  top: 126px;
  left: 368px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_13 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_14 {
  position: absolute;
  top: 126px;
  left: 287px;
  padding-top: 2px;
  padding-left: 3px;
  width: 77px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_14 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_15 {
  position: absolute;
  top: 126px;
  left: 193px;
  padding-top: 2px;
  padding-left: 3px;
  width: 89px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_15 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Input_1 {
  position: absolute;
  top: 152px;
  left: 84px;
  padding-left: 2px;
  width: 74px;
  height: 20px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_1 {
  position: absolute;
  top: 104px;
  left: 85px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_3 {
  position: absolute;
  top: 104px;
  left: 142px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_3 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Button_9 {
  position: absolute;
  top: 104px;
  left: 199px;
  width: 55px;
  height: 14px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Button_9 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_16 {
  position: absolute;
  top: 97px;
  left: 418px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_16 .valign {
  vertical-align: middle;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_17 {
  position: absolute;
  top: 97px;
  left: 270px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-d48cfbbf-8321-45e5-8262-e7bed6d7b46b #s-Label_17 .valign {
  vertical-align: middle;
}
#loadMark {
}