#t-5a1d8694-e263-4e06-b212-fd99b7662b35 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 0px;
  min-height: 0px;
}
#t-5a1d8694-e263-4e06-b212-fd99b7662b35 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#loadMark {
}