#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#t-b1f915c8-4368-4c3f-9da0-240173199a4a #t-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}