#t-da9dcc91-bee5-4381-a8d8-b6c7b7002568 {
  background-color: #FFFFFF;
  background-image: none;
  min-width: 0px;
  min-height: 0px;
}
#t-da9dcc91-bee5-4381-a8d8-b6c7b7002568 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#loadMark {
}