*{
    margin:0px;
}

html {
/*     background-color:pink; */
    height:103%;
    width:100%;
    background-image: linear-gradient(bottom, rgb(224,216,203) 28%, rgb(252,252,252) 64%);
	background-image: -o-linear-gradient(bottom, rgb(224,216,203) 28%, rgb(252,252,252) 64%);
	background-image: -moz-linear-gradient(bottom, rgb(224,216,203) 28%, rgb(252,252,252) 64%);
	background-image: -webkit-linear-gradient(bottom, rgb(224,216,203) 28%, rgb(252,252,252) 64%);
	background-image: -ms-linear-gradient(bottom, rgb(224,216,203) 28%, rgb(252,252,252) 64%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(224,216,203)),
		color-stop(0.64, rgb(252,252,252))
	);
	overflow:auto;
}

body {
	height:100%;
    width:1000px;
	margin-left: auto;
  	margin-right: auto;
  	padding-top:10px;
}

#con-header { /* header container */
/*     background-color:#5555FF; */
    padding:0px;
    border:0px;
    width:1000px;
    height:95px;
}

#con-head-logo {
/*     background-color:#FF0000; */
    position:relative;
    height:100%;
    width:257px;
    float:left;

}

#con-head-worder {
/*     background-color:#AA0000; */
    position:initial;
    height:100%;
}

#con-head-quote {
    height:100%;
    width:400px;
/*     background-color:#550000; */
    position:relative;
    float:right;
}




#con-body{ /* body container */
     margin:0px;
     padding:0px;

     width:999px;
     height:90%;
     overflow: hidden;

/*      background-color:yellow; */
}



#con-body-nav { /* Side Menu */ 
    float:left;
    min-height: 100%;
    overflow: auto;
    width:130px;
    display:inline-block;
    color: #FFFFFF;
    
    border: 0px solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    
    
    background-image: linear-gradient(left , rgb(153,153,153) 15%, rgb(106,107,107) 71%);
	background-image: -o-linear-gradient(left , rgb(153,153,153) 15%, rgb(106,107,107) 71%);
	background-image: -moz-linear-gradient(left , rgb(153,153,153) 15%, rgb(106,107,107) 71%);
	background-image: -webkit-linear-gradient(left , rgb(153,153,153) 15%, rgb(106,107,107) 71%);
	background-image: -ms-linear-gradient(left , rgb(153,153,153) 15%, rgb(106,107,107) 71%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0.15, rgb(153,153,153)),
		color-stop(0.71, rgb(106,107,107))
	);
    
    overflow:hidden;
    
}

#con-body-main{
/*     background-color:white; */
    float:right;
    height:100%;
    min-height:100%;
    width:850px;
    display:inline-block;
}

#con-body-main-title {
/*     background-color:green; */
/*     width:100%; */
    height:30px;
}

#con-body-main-nav{
/*     background-color:yellow; */
    height:100px;
}

#con-body-main-content{
    margin-left:10px;
    overflow-y:auto;
    overflow-x: hidden;
    margin-top:20px;
    height:800px;
}

#main-nav{
	display:block;
	width:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	font-size:14pt;
	font-family: "Helvetica";
	margin-left:5px;
}

#main-nav li {
	margin-bottom:15px;
}

div.horizontalNav
{
width:100%;
height:100px;
}
div.horizontalNav ul
{
list-style-type:none;
margin:0;
padding:0;
width:100%;
height:100px;


}
div.horizontalNav li
{
float:left;
width:auto;
}
div.horizontalNav a
{
display:block;
width:150px;
height:50px;
margin-left:3px;
margin-top:3px;
}

.navTopLeft {
	border: 0px solid;
	border-top-left-radius: 20px;
}

.navTopRight {
	border: 0px solid;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}



.navBottomLeft {
	border: 0px solid;
	border-bottom-left-radius: 20px;
}

.navBottomRight {
	border: 0px solid;
	border-bottom-right-radius: 20px;
}



div.horizontalNav a:link,div.horizontalNav a:visited
{
font-weight:bold;
color:#FFFFFF;
text-align:center;
padding:4px;
text-decoration:none;
margin-top: auto;
font-family: "Helvetica";


background-image: linear-gradient(top, rgb(153,153,153) 15%, rgb(106,107,107) 71%);
background-image: -o-linear-gradient(top, rgb(153,153,153) 15%, rgb(106,107,107) 71%);
background-image: -moz-linear-gradient(top, rgb(153,153,153) 15%, rgb(106,107,107) 71%);
background-image: -webkit-linear-gradient(top, rgb(153,153,153) 15%, rgb(106,107,107) 71%);
background-image: -ms-linear-gradient(top, rgb(153,153,153) 15%, rgb(106,107,107) 71%);

background-image: -webkit-gradient(
	linear,
	right top,
	right bottom,
	color-stop(0.15, rgb(153,153,153)),
	color-stop(0.71, rgb(106,107,107))
);
}
div.horizontalNav a:hover,div.horizontalNav a:active
{
background-image: linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -o-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -moz-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -ms-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(84,34,40)),
	color-stop(0.55, rgb(255,143,5))
);
}

ul.horizontalNav a:link,ul.horizontalNav a:visited
{
font-weight:bold;
color:#FFFFFF;

text-align:center;
padding:4px;
text-decoration:none;

background-image: linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -o-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -moz-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -ms-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(84,34,40)),
	color-stop(0.55, rgb(255,143,5))
);

}
ul.horizontalNav a:hover,ul.horizontalNav a:active
{
background-image: linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -o-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -moz-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);
background-image: -ms-linear-gradient(bottom, rgb(84,34,40) 10%, rgb(255,143,5) 55%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(84,34,40)),
	color-stop(0.55, rgb(255,143,5))
);
}

a:visited {
	color:#FFFFFF;
}






.fakeLink {
	cursor: pointer;
	color: blue;
	text-decoration:underline;
}

.error {
	color: red;
}

.pp {
	width:100px;
	height:100px;
}

.toggle {
	cursor: pointer;
}

.formTemplate {
	display: none;
}

.medCon {
	display: inline;
}
.hidden {
	display:none;
}

.italic {
	font-style:italic;
}

.bold {
	font-weight:bold;
}

.riskTitle {
	font-weight:bold;
	font-size: 16pt;
	margin-right:10px;
}

.inline {
	display: inline-block;
}

.instructions {
	color: rgb(248,152,40);
	margin-bottom:25px;
}

.nothingFound {
	color: red;
}