*{
    margin:0px;
}

html, body {
/*     background-color:pink; */
    height:100%;
    width:100%;
}


#con-header { /* header container */
/*     background-color:#5555FF; */
    padding:0px;
    border:0px;
    width:100%;
    height:95px;
}

#con-head-logo {
/*     background-color:#FF0000; */
    position:relative;
    height:100%;
    width:257px;
    float:left;

}

#con-head-worder {
/*     background-color:#AA0000; */
    position:initial;
    height:100%;
}

#con-head-quote {
    height:100%;
    width:150px;
/*     background-color:#550000; */
    position:relative;
    float:right;
}




#con-body{ /* body container */
     margin:0px;
     padding:0px;

     width:100%;
     height:100%;

/*      background-color:yellow; */
}



#con-body-nav { /* Side Menu */
/*     background-color:aqua; */
    float:left;
    height:100%
}

#con-body-main{
/*     background-color:white; */
    width:100%;
    height:100%;
}

#con-body-main-title {
/*     background-color:green; */
    width:100%;
    height:100px;
}

#con-body-main-nav{
/*     background-color:yellow; */
    height:100px;
}

#con-body-main-content{
/*     background-color:#55FF55; */
    height:100%;
}

#main-nav{
	display:block;
	width:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	/* background-color:#dddddd; */
}

div.horizontalNav
{
width:100%;
height:100px;
}
div.horizontalNav ul
{
list-style-type:none;
margin:0;
padding:0;
}
div.horizontalNav li
{
float:left;
}
div.horizontalNav a
{
display:block;
width:180px;
}
div.horizontalNav a:link,div.horizontalNav a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
div.horizontalNav a:hover,div.horizontalNav a:active
{
background-color:#7A991A;
}

ul.horizontalNav a:link,ul.horizontalNav a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
ul.horizontalNav a:hover,ul.horizontalNav a:active
{
background-color:#7A991A;
}


.fakeLink {
	cursor: pointer;
	color: blue;
	text-decoration:underline;
}

.error {
	color: red;
}

.pp {
	width:100px;
	height:100px;
}

.toggle {
	cursor: pointer;
}

.formTemplate {
	display: none;
}

.medCon {
	display: inline;
}
.hidden {
	display:none;
}
}