#s-74df60da-34e7-4d90-8bbe-0086c8cb070c {
  background-color: transparent;
  background-image: none;
  min-width: 579px;
  min-height: 1065px;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 579px;
  min-width: 579px;
  min-height: 1065px;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_1 {
  position: absolute;
  top: 173px;
  left: 202px;
  padding-left: 5px;
  width: 173px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Button_1 {
  position: absolute;
  top: 246px;
  left: 252px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Button_1 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_1 {
  position: absolute;
  top: 173px;
  left: 65px;
  width: 129px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_1 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Image_2 {
  position: absolute;
  top: 7px;
  left: 183px;
  width: 237px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_2 {
  position: absolute;
  top: 209px;
  left: 202px;
  padding-left: 5px;
  width: 173px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_2 {
  position: absolute;
  top: 209px;
  left: 65px;
  width: 129px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_2 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_3 {
  position: absolute;
  top: 173px;
  left: 391px;
  width: 40px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_3 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-USER1 {
  position: absolute;
  top: 321px;
  left: 57px;
  width: 360px;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-USER1 tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-USER1 tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_2 {
  background-color: transparent;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_1 {
  width: 118px;
  height: 28px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9E9E9E;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_4 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_4 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_3 {
  width: 118px;
  height: 28px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9E9E9E;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_5 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_5 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_5 {
  width: 118px;
  height: 28px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9E9E9E;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_6 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_6 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_1 {
  background-color: transparent;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_2 {
  width: 120px;
  height: 30px;
  background-color: transparent;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_3 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_3 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_4 {
  width: 120px;
  height: 30px;
  background-color: transparent;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_4 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_4 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Row_cell_6 {
  width: 120px;
  height: 30px;
  background-color: transparent;
  background-image: none;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_5 {
  width: 97px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  cursor: text;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_5 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_5 .icon {
  top: 2px;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_7 {
  position: absolute;
  top: 1045px;
  left: 371px;
  width: 208px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_7 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_6 {
  position: absolute;
  top: 119px;
  left: 59px;
  padding-left: 2px;
  width: 115px;
  height: 20px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_14 {
  position: absolute;
  top: 69px;
  left: 59px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_14 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_16 {
  position: absolute;
  top: 69px;
  left: 116px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Label_16 .valign {
  vertical-align: middle;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Button_9 {
  position: absolute;
  top: 69px;
  left: 173px;
  width: 55px;
  height: 14px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-74df60da-34e7-4d90-8bbe-0086c8cb070c #s-Button_9 .valign {
  vertical-align: middle;
}
#loadMark {
}