#s-88b558c9-8276-48d1-ac91-1024c3afcc90 {
  background-color: transparent;
  background-image: none;
  min-width: 669px;
  min-height: 1065px;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 669px;
  min-width: 669px;
  min-height: 1065px;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 179px;
  width: 237px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Button_4 {
  position: absolute;
  top: 190px;
  left: 59px;
  width: 260px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Button_5 {
  position: absolute;
  top: 190px;
  left: 401px;
  width: 260px;
  height: 31px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Button_5 .valign {
  vertical-align: middle;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Label_5 {
  position: absolute;
  top: 1045px;
  left: 371px;
  width: 208px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Input_1 {
  position: absolute;
  top: 119px;
  left: 57px;
  padding-left: 2px;
  width: 115px;
  height: 20px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Label_1 {
  position: absolute;
  top: 69px;
  left: 57px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Label_3 {
  position: absolute;
  top: 69px;
  left: 114px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Button_9 {
  position: absolute;
  top: 69px;
  left: 171px;
  width: 55px;
  height: 14px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-88b558c9-8276-48d1-ac91-1024c3afcc90 #s-Button_9 .valign {
  vertical-align: middle;
}
#loadMark {
}