#s-b599290e-be45-4a14-aa02-617004f9ded2 {
  background-color: transparent;
  background-image: none;
  min-width: 651px;
  min-height: 600px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 651px;
  min-width: 651px;
  min-height: 600px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Image_1 {
  position: absolute;
  top: 7px;
  left: 191px;
  width: 237px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_1 {
  position: absolute;
  top: 91px;
  left: 61px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_2 {
  position: absolute;
  top: 87px;
  left: 586px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_3 {
  position: absolute;
  top: 90px;
  left: 125px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_6 {
  position: absolute;
  top: 122px;
  left: 482px;
  padding-top: 2px;
  padding-left: 3px;
  width: 45px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_7 {
  position: absolute;
  top: 122px;
  left: 59px;
  padding-left: 3px;
  width: 66px;
  height: 25px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 0px 0px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_8 {
  position: absolute;
  top: 122px;
  left: 128px;
  padding-top: 3px;
  padding-left: 3px;
  width: 35px;
  height: 21px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_9 {
  position: absolute;
  top: 122px;
  left: 344px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_10 {
  position: absolute;
  top: 122px;
  left: 263px;
  padding-top: 2px;
  padding-left: 3px;
  width: 77px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_11 {
  position: absolute;
  top: 122px;
  left: 169px;
  padding-top: 2px;
  padding-left: 3px;
  width: 89px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_1 {
  position: absolute;
  top: 158px;
  left: 554px;
  width: 78px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_2 {
  position: absolute;
  top: 180px;
  left: 57px;
  width: 580px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_3 {
  position: absolute;
  top: 209px;
  left: 58px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_2 {
  position: absolute;
  top: 210px;
  left: 111px;
  padding-left: 5px;
  width: 54px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_2 .icon {
  top: 2px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_4 {
  position: absolute;
  top: 210px;
  left: 202px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_3 {
  position: absolute;
  top: 210px;
  left: 256px;
  padding-left: 5px;
  width: 58px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_5 {
  position: absolute;
  top: 211px;
  left: 329px;
  width: 59px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_5 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_4 {
  position: absolute;
  top: 211px;
  left: 400px;
  padding-left: 5px;
  width: 81px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_18 {
  position: absolute;
  top: 254px;
  left: 62px;
  width: 537px;
  height: 52px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 536px;
  height: 21px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Image_10 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 45px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 492px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_9 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Dynamic_Panel_9 {
  position: absolute;
  top: 21px;
  left: 1px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Panel_9 {
  width: 536px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_20 {
  position: absolute;
  top: 317px;
  left: 62px;
  width: 537px;
  height: 52px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 535px;
  height: 21px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Image_11 {
  position: absolute;
  top: 0px;
  left: 488px;
  width: 47px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 488px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_10 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Dynamic_Panel_10 {
  position: absolute;
  top: 21px;
  left: 1px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Panel_10 {
  width: 536px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_38 {
  position: absolute;
  top: 380px;
  left: 62px;
  width: 537px;
  height: 52px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 536px;
  height: 21px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Image_20 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 45px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_24 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 492px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_24 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Dynamic_Panel_19 {
  position: absolute;
  top: 21px;
  left: 1px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Panel_19 {
  width: 536px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_24 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_40 {
  position: absolute;
  top: 443px;
  left: 62px;
  width: 537px;
  height: 52px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_41 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 535px;
  height: 21px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Image_21 {
  position: absolute;
  top: 0px;
  left: 488px;
  width: 47px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 488px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_25 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Dynamic_Panel_20 {
  position: absolute;
  top: 21px;
  left: 1px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Panel_20 {
  width: 536px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_42 {
  position: absolute;
  top: 505px;
  left: 62px;
  width: 537px;
  height: 52px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Group_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 535px;
  height: 21px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Image_22 {
  position: absolute;
  top: 0px;
  left: 488px;
  width: 47px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 488px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_26 .valign {
  vertical-align: middle;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Dynamic_Panel_21 {
  position: absolute;
  top: 21px;
  left: 1px;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Panel_21 {
  width: 536px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Input_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_7 {
  position: absolute;
  top: 580px;
  left: 58px;
  width: 587px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-b599290e-be45-4a14-aa02-617004f9ded2 #s-Button_7 .valign {
  vertical-align: middle;
}
#loadMark {
}