#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 {
  background-color: transparent;
  background-image: none;
  min-width: 675px;
  min-height: 1113px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 675px;
  min-width: 675px;
  min-height: 1113px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 185px;
  width: 237px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_6 {
  position: absolute;
  top: 113px;
  left: 489px;
  padding-top: 2px;
  padding-left: 3px;
  width: 45px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_7 {
  position: absolute;
  top: 113px;
  left: 66px;
  padding-left: 3px;
  width: 66px;
  height: 25px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 0px 0px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_8 {
  position: absolute;
  top: 113px;
  left: 135px;
  padding-top: 3px;
  padding-left: 3px;
  width: 35px;
  height: 21px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_9 {
  position: absolute;
  top: 113px;
  left: 351px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_10 {
  position: absolute;
  top: 113px;
  left: 270px;
  padding-top: 2px;
  padding-left: 3px;
  width: 77px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_11 {
  position: absolute;
  top: 113px;
  left: 176px;
  padding-top: 2px;
  padding-left: 3px;
  width: 89px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_1 {
  position: absolute;
  top: 139px;
  left: 67px;
  padding-left: 2px;
  width: 54px;
  height: 20px;
  background-color: #808000;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_2 {
  position: absolute;
  top: 178px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_1 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_4 {
  position: absolute;
  top: 244px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_5 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_2 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_6 {
  position: absolute;
  top: 309px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_7 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_3 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_8 {
  position: absolute;
  top: 371px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_9 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_4 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_10 {
  position: absolute;
  top: 430px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_11 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_5 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_5 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_12 {
  position: absolute;
  top: 495px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_13 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_6 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_6 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_14 {
  position: absolute;
  top: 558px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_15 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_8 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_7 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_7 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_7 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_16 {
  position: absolute;
  top: 623px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_17 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_8 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_8 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_8 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_18 {
  position: absolute;
  top: 684px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_19 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_10 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_9 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_9 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_9 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_20 {
  position: absolute;
  top: 747px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_21 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_11 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_10 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_10 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_10 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_22 {
  position: absolute;
  top: 810px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_23 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_12 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_11 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_11 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_11 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_24 {
  position: absolute;
  top: 870px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_25 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_13 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_12 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_12 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_12 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_26 {
  position: absolute;
  top: 936px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_27 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_14 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_13 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_13 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_13 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_28 {
  position: absolute;
  top: 999px;
  left: 72px;
  width: 543px;
  height: 52px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Group_29 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 542px;
  height: 21px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Image_15 {
  position: absolute;
  top: 0px;
  left: 498px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 498px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_14 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Dynamic_Panel_14 {
  position: absolute;
  top: 21px;
  left: 0px;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Panel_14 {
  width: 542px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 535px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_15 {
  position: absolute;
  top: 1093px;
  left: 67px;
  width: 602px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_15 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_16 {
  position: absolute;
  top: 1072px;
  left: 622px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_16 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_17 {
  position: absolute;
  top: 1072px;
  left: 565px;
  width: 47px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_17 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_1 {
  position: absolute;
  top: 85px;
  left: 68px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_3 {
  position: absolute;
  top: 85px;
  left: 125px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_18 {
  position: absolute;
  top: 85px;
  left: 182px;
  width: 55px;
  height: 14px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_18 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_19 {
  position: absolute;
  top: 1067px;
  left: 249px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_19 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_20 {
  position: absolute;
  top: 1066px;
  left: 309px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Button_20 .valign {
  vertical-align: middle;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_2 {
  position: absolute;
  top: 139px;
  left: 147px;
  padding-left: 2px;
  width: 62px;
  height: 20px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_14 {
  position: absolute;
  top: 140px;
  left: 135px;
  width: 15px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-bb0e12b6-1a98-4279-8540-318e5000bdc1 #s-Label_14 .valign {
  vertical-align: middle;
}
#loadMark {
}