#s-ede22bf8-36ee-4711-8537-46af67ac8084 {
  background-color: transparent;
  background-image: none;
  min-width: 705px;
  min-height: 1159px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 705px;
  min-width: 705px;
  min-height: 1159px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_1 {
  position: absolute;
  top: 2px;
  left: 181px;
  width: 237px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_6 {
  position: absolute;
  top: 117px;
  left: 510px;
  padding-top: 2px;
  padding-left: 3px;
  width: 45px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_7 {
  position: absolute;
  top: 117px;
  left: 87px;
  padding-left: 3px;
  width: 66px;
  height: 25px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 0px 0px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_8 {
  position: absolute;
  top: 117px;
  left: 156px;
  padding-top: 3px;
  padding-left: 3px;
  width: 35px;
  height: 21px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_9 {
  position: absolute;
  top: 117px;
  left: 372px;
  padding-top: 2px;
  padding-left: 3px;
  width: 133px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_10 {
  position: absolute;
  top: 117px;
  left: 291px;
  padding-top: 2px;
  padding-left: 3px;
  width: 77px;
  height: 23px;
  background-color: #CBCB96;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_11 {
  position: absolute;
  top: 117px;
  left: 197px;
  padding-top: 2px;
  padding-left: 3px;
  width: 89px;
  height: 23px;
  background-color: #C0C0C0;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 0px 0px 2px 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Input_1 {
  position: absolute;
  top: 143px;
  left: 88px;
  padding-left: 2px;
  width: 170px;
  height: 20px;
  background-color: #808000;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B5B5B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B5B5B5;
  cursor: pointer;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_21 {
  position: absolute;
  top: 181px;
  left: 97px;
  width: 535px;
  height: 19px;
  background-color: #B6DADA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_21 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_7 {
  position: absolute;
  top: 221px;
  left: 97px;
  width: 537px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_1 {
  width: 537px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_1 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_1 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_8 {
  position: absolute;
  top: 323px;
  left: 97px;
  width: 537px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_2 {
  width: 537px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_2 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_2 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_4 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_9 {
  position: absolute;
  top: 425px;
  left: 97px;
  width: 537px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_3 {
  width: 537px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_3 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_3 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_5 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_10 {
  position: absolute;
  top: 527px;
  left: 97px;
  width: 537px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_4 {
  width: 537px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_4 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_4 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_6 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_4 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_2 {
  position: absolute;
  top: 633px;
  left: 97px;
  width: 537px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_5 {
  width: 537px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_5 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_5 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_5 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_11 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_5 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_12 {
  position: absolute;
  top: 745px;
  left: 97px;
  width: 537px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_6 {
  width: 537px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_6 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_6 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_6 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_13 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_6 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_17 {
  position: absolute;
  top: 842px;
  left: 98px;
  width: 260px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_8 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_8 {
  width: 260px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_8 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_8 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_16 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 259px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 237px;
  width: 22px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 236px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_8 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_19 {
  position: absolute;
  top: 840px;
  left: 380px;
  width: 260px;
  height: 83px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_9 {
  position: absolute;
  top: 22px;
  left: 0px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_9 {
  width: 260px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_9 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_9 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_9 {
  width: 542px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_18 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 259px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_10 {
  position: absolute;
  top: 0px;
  left: 237px;
  width: 22px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 236px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#BDCAE2));
  background-image: -o-linear-gradient(top,#FFFFFF,#BDCAE2);
  background-image: linear-gradient(to bottom,#FFFFFF,#BDCAE2);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_9 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Dynamic_Panel_10 {
  position: absolute;
  top: 966px;
  left: 100px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Panel_10 {
  width: 537px;
  height: 113px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_10 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 544px;
  height: 210px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_10 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_10 {
  width: 542px;
  height: 208px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_7 {
  position: absolute;
  top: 1px;
  left: 3px;
  width: 149px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_7 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_11 {
  position: absolute;
  top: 1px;
  left: 158px;
  width: 359px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_11 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Table_7 {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 522px;
  height: 86px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_7 {
  width: 158px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_12 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_12 {
  width: 361px;
  height: 39px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_11 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_11 {
  width: 158px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_13 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Cell_13 {
  width: 361px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Group_20 {
  position: absolute;
  top: 944px;
  left: 102px;
  width: 535px;
  height: 21px;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Image_11 {
  position: absolute;
  top: 0px;
  left: 491px;
  width: 44px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 491px;
  height: 19px;
  background-color: #B6DADA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #77818F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #77818F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #77818F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #77818F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #1F5471;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_10 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_12 {
  position: absolute;
  top: 1139px;
  left: 97px;
  width: 602px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_12 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_13 {
  position: absolute;
  top: 1118px;
  left: 652px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_13 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_14 {
  position: absolute;
  top: 1118px;
  left: 595px;
  width: 47px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_14 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_1 {
  position: absolute;
  top: 91px;
  left: 88px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_3 {
  position: absolute;
  top: 91px;
  left: 145px;
  width: 40px;
  height: 20px;
  background-color: #C0C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_15 {
  position: absolute;
  top: 91px;
  left: 202px;
  width: 55px;
  height: 14px;
  background-color: #C0C0C0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_15 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_18 {
  position: absolute;
  top: 1115px;
  left: 286px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_18 .valign {
  vertical-align: middle;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_19 {
  position: absolute;
  top: 1114px;
  left: 346px;
  width: 44px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: linear-gradient(to bottom,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C7C5B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C7C5B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C7C5B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C7C5B2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-ede22bf8-36ee-4711-8537-46af67ac8084 #s-Button_19 .valign {
  vertical-align: middle;
}
#loadMark {
}